In [21]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import os
from datetime import datetime



desired_capabilities = DesiredCapabilities.CHROME
desired_capabilities["goog:loggingPrefs"] = {"performance": "ALL"}

driver = webdriver.Chrome(r"C:\\Driver\\chromedriver.exe")
wait = WebDriverWait(driver, 60)
driver.get("https://app.oncoursesystems.com/account/login")
time.sleep(10)
#driver.maximize_window()

username = wait.until(EC.visibility_of_element_located((By.ID, "Username")))
username.send_keys("inspiroz.insights@gmail.com")

time.sleep(1)
password = wait.until(EC.visibility_of_element_located((By.ID, "Password")))
password.send_keys("Welcome@2024")
time.sleep(1)

submitElement = wait.until(EC.visibility_of_element_located(
    (By.XPATH, '//*[@id="login-form"]/button')))
submitElement.click()

time.sleep(2)


temp_url = driver.current_url

if temp_url=="https://app.oncoursesystems.com/healthscreening":
    print(url)
    healthscreening_element = WebDriverWait(driver, 10).until(
        EC.element_to_be_clickable((By.ID, '//*[@id="i-confirm-checkbox"]')))
    healthscreening_element.click()
    time.sleep(2)
    healthscreening_submit = wait.until(EC.visibility_of_element_located(
        (By.XPATH, '//*[@id="health-screening-form"]')))
    healthscreening_submit.click()
    time.sleep(1)
else:
    reporting = wait.until(EC.visibility_of_element_located((By.XPATH, '//*[@id="ext-element-382"]')))
    reporting.click()
    time.sleep(2)
    
    daily_atndnc_below_threshold = wait.until(EC.visibility_of_element_located(
        (By.XPATH, '//*[@id="gridview-1118-record-417"]/tbody/tr/td[2]/div')))
    
    
    daily_atndnc_below_threshold.click()
    # time.sleep(5)
    
    open_report = wait.until(EC.visibility_of_element_located(
        (By.XPATH, '//*[@id="button-1153"]')))
    
    open_report.click()
    time.sleep(2)
    
    run_report = wait.until(EC.visibility_of_element_located(
        (By.XPATH, '//*[@id="button-1210-btnInnerEl"]')))
    run_report.click()
    
    csv_report = wait.until(EC.visibility_of_element_located(
        (By.XPATH, '/html/body/div[9]/div/div/div[2]/div/div[2]/a/span')))
    
    csv_report.click()
    time.sleep(20)

#dwnld & save csv in date format
    current_date = datetime.now().strftime("%Y-%m-%d")
    download_dir="C:\\Users\\SaurabhPatil\\Downloads"
    timeout = 60 
    file_path = os.path.join(download_dir,'Daily Attendance Below Threshold.csv')
    while not os.path.exists(file_path):
        if timeout == 0:
            print("Download timeout!")
            break
        timeout -= 1
        time.sleep(1) 
    new_file_name = f"Attendence_{current_date}.csv"
    try:
        os.rename(file_path, os.path.join(download_dir, new_file_name))
        print(f"File renamed to: {new_file_name}")
    except FileExistsError:
        print("File already exists. Handling the error...")
        new_file_name = f"Attendence_{current_date}_1.csv"
        new_file_path = os.path.join(download_dir, new_file_name)
        os.rename(file_path, new_file_path)
        #print(f"File renamed to: {new_file_name}")
    csv_file_path = os.path.join(download_dir, new_file_name)
    df = pd.read_csv(csv_file_path)

C:\Users\SaurabhPatil\AppData\Local\Temp\ipykernel_17868\2905351010.py:17: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Driver\\chromedriver.exe")

File renamed to: Attendence_2024-03-19.csv

In [ ]:
#matching_files = [file for file in files if file.endswith(current_date + '.csv')]

In [22]:
df

,Student_Id,Student_Local_Id,First_Name,Last_Name,School_Name,Grade_Level,Active,Homeroom_Teacher_Name,Num_Absent,Num_Tardy
0,14564796,14564796,Zinab,Abdelhalim,Jersey City Global Charter School,04,Y,"Harris, William",0,0
1,14547670,14547670,Sidra,Ahmad,Jersey City Global Charter School,04,Y,"Harris, William",0,0
2,14607721,14607721,Eliette,Alata,Jersey City Global Charter School,04,Y,"Lewis, Kema",0,0
3,15838941,15838941,Josue,Alata,Jersey City Global Charter School,01,Y,"Ali, Kora-ann",0,0
4,15107195,15107195,Chloe,Almanzar,Jersey City Global Charter School,03,Y,"Kopcinska, Joanna",0,0
...,...,...,...,...,...,...,...,...,...,...
417,13465785,13465785,David,Wermann,Jersey City Global Charter School,07,Y,"Turner, Kristen",0,0
418,13128623,13128623,Serenity,Wigfall,Jersey City Global Charter School,08,Y,"Zimmer, Stephen",0,0
419,15370452,15370452,Jacob,Yousf,Jersey City Global Charter School,02,Y,"Germann, Dawn",1,0
420,15394584,15394584,Emma,Yousf,Jersey City Global Charter School,05,Y,"Romero, Jennifer",0,0
421,16100166,16100166,Ibrahim,Zainuddin,Jersey City Global Charter School,KF,Y,"Khokhar, Shagufta",0,0

In [20]:
pip install numpy

Requirement already satisfied: numpy in c:\users\saurabhpatil\anaconda3\lib\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

In [ ]:
Driver={ODBC Driver 18 for SQL Server};
Server=tcp:sqlserverinstance01.database.windows.net,1433;
Database=JCGCS;
Uid=sadmin;
Pwd={your_password_here};
Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;

In [4]:
import pyodbc

server = 'sqlserverinstance01.database.windows.net'
database = 'JCGCS'
username = 'sadmin'
password = 'Welcome@2024'
driver = '{ODBC Driver 18 for SQL Server}'
conn_str = (
f'DRIVER={driver};'
f'SERVER={server};'
f'DATABASE={database};'
f'UID={username};'
f'PWD={password};'
)
conn = pyodbc.connect(conn_str)

In [15]:
#query = "insert into psat values('ALMAN','MAD','F','2009-08-22','138038973','JERSEY CITY',2,760);"
query = "Delete from psat where CB_ID in ('138038972','138038973');"
cursor=conn.cursor()
cursor.execute(query)
conn.commit()

In [14]:
cursor.rowcount

1

In [16]:
import pandas as pd

C:\Users\SaurabhPatil\AppData\Local\Temp\ipykernel_9844\3689326455.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, con=conn,index=False) #if_exists='replace'

Error: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")

In [2]:
from sqlalchemy import create_engine

server = 'sqlserverinstance01.database.windows.net'
database = 'JCGCS'
username = 'sadmin'
password = 'Welcome@2024'
driver = '{ODBC Driver 18 for SQL Server}'

conn_str = (
f'DRIVER={driver};'
f'SERVER={server};'
f'DATABASE={database};'
f'UID={username};'
f'PWD={password};'
)

# Create SQLAlchemy engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}")

In [7]:
#query = "insert into psat values('Saurabh','Patil','F','2009-08-22','138038973','Dombivali',2,760);"
#query = "Delete from psat where CB_ID in ('138038972','138038973');"

#conn.execute(query)
#engine.commit()

In [9]:
import pandas as pd
df = pd.read_csv(r'C:\Users\SaurabhPatil\Downloads\psat_date.csv')

In [16]:
conn=engine.connect()
table_name = 'psat'
try:
    df.to_sql(table_name, con=conn, if_exists='replace',index=False)
    print("Success")
except Exception as e:
    print(f"Error: {e}")

Success